@tailwind base;
@tailwind components;
@tailwind utilities;


#triangle {
background-image: url("../images/triangle.png");
}

@media (prefers-color-scheme: dark) {
  #triangle {
    background-image: url("../images/triangle_dark.png");
  }
}